@import "tailwindcss";

@theme {
  --color-primary: #f65555;
  --color-background: #140d0d;
  --color-surface: #1d1111;
  --color-card: #261a1a;
  --radius-xl: 12px;
  --font-manrope: "Manrope", sans-serif;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes scanner-line {
    0% { top: 0; opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { top: 100%; opacity: 0; }
  }

  --animate-float: float 4s ease-in-out infinite;
  --animate-scanner-line: scanner-line 3s linear infinite;
}

@layer base {
  body {
    @apply bg-background text-white font-manrope antialiased;
  }
}