@import "tailwindcss";

@theme {
  --color-primary: #f65555;
  --color-background: #140d0d;
  --color-surface: #1d1111;
  --color-card: #261a1a;
  --radius-xl: 12px;
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white font-manrope antialiased;
  }
}